
h1{
    font-family: 'Doto, sans-serif';font-size:50px;
    color: aquamarine;
}

body {
    background-color: #fd552b;
}

.texto1 {
    font-family: "Doto", sans-serif;
}

.texto2 {
    font-family: "Sour Gummy", sans-serif;
}

.texto3 {
    font-family: "Bebas Neue", sans-serif;

}