h1 {
    text-align: center;
    font-size: 50px;
    text-shadow: +5px -7px 5px #aaa;
    color: darkgreen;
}

.objeto1 {
    width: 200px;
    height: 100px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_XmE7SiNKUXXiWQqHPd5nxnQdVwsILV8tUQ&s);
    background-size: contain; 
    background-position: center; 
    border-radius: 15px 5px 0px 0px;
    display: inline-block; 
    text-align: center;
    align-items: center;
}

.objeto2 {
    width: 200px;
    height: 100px;
    background-image: url(https://images7.memedroid.com/images/UPLOADED996/5eb0e27a6b91f.jpeg);
    background-size: contain; 
    background-position: center; 
    box-shadow: 5px 5px 15px rgba(2, 4, 0, 0.3); 
    border-radius: 1px 1px 1px 15px;
    display:flex; 
    text-align: center;
    align-items:end;
}

.objeto3{
    width: 200px;
    height: 100px;
    background-image: url(https://images7.memedroid.com/images/UPLOADED287/5e8d1b1e81fba.jpeg);
    background-size: contain; 
    background-position: center; 
    text-align: center;
    box-shadow: 5px 5px 15px rgba(2, 15, 2, 0.3); 
    border-radius: 10px 0px 10px 0px;
    display: inline-block; 
    text-align: center;
    align-items: center;
}

.objeto4{
    width: 200px;
    height: 100px;
    background-image: url(https://images3.memedroid.com/images/UPLOADED343/5f482fae70c90.jpeg);
    background-size: contain; 
    background-position: center; 
    text-align: center;
    box-shadow: 5px 5px 15px rgba(2, 4, 0, 0.3);
    border-radius: 15px 15px 15px 15px;
    display: inline-block; 
    text-align: center;
    align-items: center;
}